<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="log4j2-something" monitorInterval="5" verbose="true">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd-MM-yyyy HH:mm:ss,SSS} [%t] (%F:%L) %-5p %c{1} %x - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
